<div class="container">
    <div class="row">
        <div class="col">
            <h1>RICK Y MORTY</h1>
            <p>
                Hola bienvenido, este es un proyecto de práctica, esta desarrollado con:                
            </p>
            <ul>
                <li>Framework de angular</li>
                <li>Uso de API Rick y Morty</li>
                <li>CSS</li>
                <li>Un poco de Bootstrap</li>
                <li>Recursos varios de styles como:</li>
                <ul>
                    <li>Google Fonts API </li>
                </ul>
            </ul>
            <hr>            
        </div>
        <hr>        
    </div>
    <div class="row">
        <div class="col">        
            <ul>
                <li>Año: 2022</li>
                <li>Api usada: <a href="https://rickandmortyapi.com/documentation/#introduction"> Rickandmortyapi </a></li>
                <li>Au: <a href="">Grennys Salgado</a></li>
            </ul>
        </div>        
    </div>    
</div>
