<div class="container">
    <div class="row">
        <div class="col">
            <h4>
                Bienvenido al proyecto de OneEnergy.pro             
            </h4>
            <h1>OneEnergy.pro | RICK Y MORTY</h1>                        
            <hr>            
        </div>
        <hr>        
    </div>
    <div class="row">
        <div class="col">        
            <ul>
                <li>Equipo: OneEnergy.pro</li>
                <li>Docente: Oscar Sala</li>
                <li>Año: 2022</li>
                <li>Api usada: <a href="https://rickandmortyapi.com/documentation/#introduction"> Rickandmortyapi </a></li>
                <li>Creado en: Angular, uso de Bootstrap, css, google Fonts api y recursos varios css </li>                
            </ul>
        </div>        
    </div>    
</div>
