.container{
    justify-content: center;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    
    padding: 10px;
    margin: 10px;

    background-color: rgba(197, 255, 195, 0.978) ;
    color: rgb(0, 0, 0);

    border-radius: 10px;
}

p,ul{
    text-align: left;
}